<div class="topnav">
  <a href="https://www.carnival.com/"target="_blank">{{name1}}</a>
  <a href="https://www.carnival.com/explore-carnival-cruises"target="_blank">{{name2}}</a>
  <a href="https://www.carnival.com/cruise-search?pageNumber=1&numadults=2&pagesize=8&sort=fromprice&showBest=true"target="_blank">{{name3}}</a>
  <a href="https://www.carnival.com/profilemanagement/accounts/login?booked=true&returnUrl=%2Fbooked%2Fredirect%3Fgoal%3Dmybooking%26icid%3DCC_my-booking_1862"target="_blank">{{name4}}</a>
</div>

